* {
    box-sizing: border-box;
  }

body {
    padding: .5rem;
    font-family:  Helvetica, Arian, sans-serif;
    background-color: whitesmoke;
  }

  html {
    font-family:  Helvetica, Arian, sans-serif;
  }
  
  
.header {
    background-image: linear-gradient(to right,#9933cc , orange);    
    color: #ffffff;
    padding: 8px;    
}

h1 {
    font-family:  Helvetica, Arian, sans-serif;
    font-size: 200%;
    font-weight: bold;

}


h4 {
  text-align: left;
  }

  .botonera {
    padding-left: 10px;    
 }

 .button {
    background-color: #88dffc; 
   border: none;
   color: white;
   padding: 15px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;

      
 }
 
 .button1 {border-radius: 20px;}
 /*.button2 {border-radius: 20px;}*/
 

h2 {
    color: darkblue;
}

/*main {
    align-content: right;
    align-items: right;
    font-family:  Helvetica, Arian, sans-serif;
    color: rgb(125, 5, 180);
    align-content: right;
    font-size: medium;  
  
}*/




/*.main{
  padding-top: 40px;
  max-width: 1200px;
  margin: 0 auto;
}*/



img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}


img:hover {
    cursor: pointer;
    
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

.card {
  background-color: #fdb707;
  border-radius: 0.5rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #fdb707 40%, #fdb707 100%);
}

.card_title {
  color: black;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}



/* 2 */
.btn-2 {
    background: rgb(96,9,240);
    background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
    border: none;
    
  }
  .btn-2:before {
    height: 0%;
    width: 2px;
  }
  .btn-2:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  }

