* {
    box-sizing: border-box;
}

body {
    padding: .5rem;
    font-family:  Helvetica, Arian, sans-serif;
    background-color: whitesmoke;   
}

html {
    font-family:  Helvetica, Arian, sans-serif;
}  
  
.header {
    background-image: linear-gradient(to right,#9933cc , orange);    
    color: #ffffff;
    padding: 8px;    
}

h1 {
    font-family:  Helvetica, Arian, sans-serif;
    font-size: 150%;
    font-weight: bold;
}

.botonera {
    padding-left: 15px;     
}

.button {
    background-color: #88dffc; 
   border: none;
   color: white;
   padding: 15px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 2px 6px;
   cursor: pointer;      
}
 
.button1 {border-radius: 20px;}

h4 {
    color: indigo;
}
          
img {
    max-width: 100%;
    vertical-align: top;
}
          
.gallery {
    display: flex;
    margin: 10px auto;
    max-width: 600px;
    position: relative;
    padding-top: 66.6666666667%;
}
    @media screen and (min-width: 600px) {
.gallery {
    padding-top: 400px;              
    }
}
.gallery__img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;            
}
          
.gallery__thumb {
    padding-top: 6px;
    margin: 6px;
    display: block;
}
.gallery__selector {
    position: absolute;
    opacity: 0;
    visibility: hidden;           
}

.gallery2__selector:hover {
    cursor: pointer;
}
        
.gallery__selector:checked + .gallery__img {
    opacity: 1;
}
.gallery__selector:checked ~ .gallery__thumb > img {
    box-shadow: 0 0 0 3px #0be2f6;
    cursor: pointer;
}



        
.gallery2 {
    display: flex;
    margin: 10px auto;
    max-width: 600px;
    position: relative;
    padding-top: 66.6666666667%;
}
@media screen and (min-width: 600px) {
    .gallery2 {
    padding-top: 400px;
    }
}
.gallery2__img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
transition: opacity 0.3s ease-in-out;
}
.gallery2__thumb {
    padding-top: 6px;
    margin: 6px;
    display: block;
}
.gallery2__selector {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.gallery2__selector:checked + .gallery2__img {
    opacity: 1;
}
.gallery2__selector:checked ~ .gallery2__thumb > img {
    box-shadow: 0 0 0 3px #0be2f6;
}
.gallery3 {
    display: flex;
    margin: 10px auto;
    max-width: 600px;
    position: relative;
    padding-top: 66.6666666667%;
}
@media screen and (min-width: 600px) {
.gallery3 {
    padding-top: 400px;
    }
}
.gallery3__img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.gallery3__thumb {
    padding-top: 6px;
    margin: 6px;
    display: block;
}
.gallery3__selector {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.gallery3__selector:checked + .gallery3__img {
    opacity: 1;
}
.gallery3__selector:checked ~ .gallery3__thumb > img {
    box-shadow: 0 0 0 3px #0be2f6;
}