
body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}  
p {
  line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: "Lato", sans-serif;  
}  
/*section {
  padding: 50px 0;
}*/
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  section h2.section-heading {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 15px;
  }
}
  h4 .intro-heading {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: "Lato", sans-serif;  
}
section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: "Lato", sans-serif; 
}  
@media (min-width: 768px) {
  section {
    padding: 50px 0;
  }
}
/*@media (max-width: 500px) {
  section {
    padding: 5px 0;
  }
}  */
.btn {
  font-family: "Lato", sans-serif;
  /*font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-weight: 700;
}  
.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}  
.btn-primary {
  background-color: rgb(37, 3, 254);
  border-color: rgb(37, 3, 254);
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: rgb(37, 3, 254) !important;
  border-color: rgb(37, 3, 254) !important;
  color: white;
}
.btn-primary:active,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}  
::-moz-selection {
  background: #7E6BA0;
  /*background: #fed136;*/
  text-shadow: none;
}  
::selection {
  background: #7E6BA0;
  /*background: #fed136;*/
  text-shadow: none;
}  
img::selection {
  background: transparent;
}  
img::-moz-selection {
  background: transparent;
}  
body {
  -webkit-tap-highlight-color: #7E6BA0;
  /*-webkit-tap-highlight-color: #fed136;*/
}  
#mainNav {
  background-color: #212529;
}
#mainNav .navbar-toggler {
  font-size: 10px;
  right: 0;
  padding: 10px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: rgb(37, 3, 254);
  font-family: "Lato", sans-serif;
  /*font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}
#mainNav .navbar-brand {
  color: #E3BFD6;
  /*color: rgb(37, 3, 254);*/
  font-family: "Lato", sans-serif;
  /*font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;*/
}
#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
  color: #E3BFD6;
  /*color: rgb(37, 3, 254);*/
}
#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  font-family: "Lato", sans-serif;
  /*font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}
#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #7E6BA0;
  /*color: rgb(255, 165, 0);*/
  background: none;
}

@media (min-width: 992px) {
  #mainNav {
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: #262727;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

/******  botones a otras secciones   *****/
.botonera_libro  {
  display: inline-block;
  justify-content: space-around;
  padding: 50px 0;    
}
.botonera_libro .btn {
  font-size: small;
  font-weight: 600;
  color: #7E6BA0;
  border: 3px #E3BFD6 solid;
  margin: 3px;
}

.botonera_form {
  background-color: white;
  font-size: small;
  font-weight: 600;
  color: #7E6BA0;
  border: 3px #E3BFD6 solid;
  padding: 8px;
  margin: 3px;
}


a:hover a:link a:visited {
  text-decoration: none;
}


.home {
  /*background: linear-gradient(orange, rgb(153, 21, 204));*/
  /*background:linear-gradient(rgb(153, 21, 204), #7E6BA0) ;*/
  background: #7E6BA0;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
}
.home p {
  font-size:small;
  text-align: justify;
  color: white;
  font-weight: 330;
}
.home .titulo {
  font-size: large;  
  color: white;
  font-weight: 600;
}
.subtitulo {  
  font-size: small;
  font-weight: 300;
}
.home .frase_1 {
  color: #E3BFD6;
  font-style: italic;
  font-size: medium;
  font-weight: 500;
}

.home img {
width: 60%;
min-width: 300px; /* Ajusta este valor según el tamaño deseado de la imagen */
margin: 62px auto; 
}
.home div {
margin-top: 58px;
}
/* Media query para dispositivos móviles */
@media (max-width: 800px) {
.home {
  grid-template-columns: 1fr;
    padding: 6rem;
}
.home img {
    width: 100%;
    max-width: 200px; /* Puedes ajustar este valor para dispositivos móviles */
}
}
@media (max-width: 500px) {
.home {    
    padding: 1rem;
}
.home img {
    width: 80%;
    min-width: 110px; /* Puedes ajustar este valor para dispositivos móviles */      
}  
.home div {
  margin-top: 0px;
}
.home div .cards {
  margin-top: 10px;  
}
.home p {
  font-size: smaller;
  font-weight: 200;
  text-align: left;
}
}

/****************   cards   **************/
/*.cards {
background-color: orange;
} */
.cards a {
  color: #E3BFD6;
}
.card{
width: 350px;
padding: 30px;  
margin: auto;
transition: .3s ease;
box-shadow: 0 1px 1px rgba(0,0,0,.3);  
&:hover {
  box-shadow: 0 5px 20px rgba(0,0,0,.8);
  transform: translateY(-10px) scale(1.02);
  .entry-title{
    background-position: -100% 0;
  } 
}
}
.entry-title{
background: linear-gradient(to right, rgba(255,255,255,0) 50%, rgba(22, 160, 133,1.0) 50%);
font-size: large;
background-size: 200%;
background-position: 0 0;
display: inline;
transition: .5s ease-in-out;
font-family: "Lato", sans-serif;
/*font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
text-transform: uppercase; 
}
a{
color: white;
text-decoration: none;
}
small{
margin-top: 20px;
display: block;
font-family: "Lato", sans-serif;
/*font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
color: white;
text-transform: uppercase;
}
a:link, a:visited, a:active {
text-decoration:none;
}  
a:hover a:link a:visited{
font-weight: 700;
color: white;
text-decoration: none;
}
span{
display: block;
margin-top: 10px;
font-family: "Lato", sans-serif;
/*font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
font-weight: 700;
color: #FFFFFF;
}

a{color: white}

@media (max-width: 1250px) {
.card {
  position: absolute;
  width: 350px;
  height: 230px;
  padding: 10px;  
  margin: auto;           
}
}
@media (max-width: 500px) {
.card {
  position: absolute;
  width: 280px;
  height: 250px;
  padding: 10px;  
  margin: auto;
  left: 0px;
  right: 20px;    
}
}

/***************  sobre mi   *************/ 
#about {
  margin-top: 40px;
}
.section-subheading .subtitulo {
  font-size: medium;
  text-align: justify;
  color: black;
  font-weight: 600;

}
.section-subheading p { 
  font-size:small;
  text-align: justify;
  color: black;
  font-weight: 400;
}

/***************   continua viejo codigo   *************/  
header.masthead {
  text-align: center;
  color: white;
  background-image: url("./img/face_derecha.png");
  /*background-image: url("https://preview.ibb.co/ezhKNb/luca_bravo_210213.jpg");*/
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}
header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: "Lato", sans-serif;
  /*font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}
header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: "Lato", sans-serif;
  /*font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: "Lato", sans-serif;
    /*font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  }
  header.masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: "Lato", sans-serif;
    /*font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  }
}

.picself {   
  width: 400px;
  height: 300px;
  margin-top: 25px;
  float: right;     
}
.section-subheading {
  line-height: 41px;
  font-weight: bold;
  text-align: justify;
}

@media (max-width: 991px) {
  .section-subheading {
      line-height: 25px;
      font-weight: bold;
}
.picself {
  width: 400px;
  /*height: 100px;*/
  margin-top: 35px;
  float: none;
}
}
@media (max-width: 430px) {
  .section-subheading {
      line-height: 21px;
      font-weight:normal;
}}

@media (max-width: 768px) {
  .picself {
      width: 300px;
      /*height: 100px;*/
      margin-top: 25px;
      float:none;
  }
  .section-subheading {
    padding-top: 25px;
  }
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

/***************   popover     ************************/
:root {
	--accent-900: #E3BFD6;
	--accent-800: #E3BFD6;
	--check-svg: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24' fill='%23ffffff'%3E%3Cpath d='M400-314.46 250.46-464 296-509.54l104 104 264-264L709.54-624 400-314.46Z'/%3E%3C/svg%3E");

	--notification-inset: 2rem;

	 font-family: "Lato", sans-serif;
}

*,
:after,
:before {
	box-sizing: inherit;
}

.notification {
	color: rgba(0, 0, 0, 0.7);
	position: fixed;
	display: flex;
	font-size: 0.8rem;
	letter-spacing: 1.4px;
	line-height: 1.4;
	gap: 1.45rem;
	top: 340px;
	right: -30px;
  
	margin: var(--notification-inset);
	width: 20rem;
	background-color: white;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
	border-radius: 0.5rem;
	max-width: calc(100% - 6rem);
	z-index: 2;
	padding: 1.05rem 0.75rem 1.25rem;
	overflow: clip;
	animation: slideInOut 6s cubic-bezier(0.33, 0, 0.66, 1.33);
	transform: translateX(calc(100% + var(--notification-inset)));
	/*animation: slideInOut 4s infinite cubic-bezier(0.33, 0, 0.66, 1.33);*/
	animation-play-state: var(--animation-play-state);

	&:hover {
		--animation-play-state: paused;
	}

	&:before {
		content: "";
		display: block;
		inset: 0 0 auto;
		height: 0.5rem;
		background-color: var(--accent-900);
		transform-origin: left;
		position: absolute;
		animation: countdown 4s infinite linear;
		animation-play-state: var(--animation-play-state);
	}

	&__text {
		margin: 0.3rem 0 0;
	}

	&__header {
		color: black;
		margin: 0;
		font-size: 1.5rem;
		font-weight: 600;
	}

	&__action {
		margin-left: auto;   
	}

	&__icon {
		border-radius: 50%;
		display: block;
		aspect-ratio: 1;
		background-size: 3rem;
		background-color: var(--accent-900);
		background-image: var(--check-svg);
		background-repeat: no-repeat;
		background-position: 50% 100%;
		width: 3.2rem;
		margin-bottom: auto;
		flex-shrink: 0;
	}
}
.popover_libro {
	width: 30%;
	height: auto;
	/*padding-left: 40px;	*/
}
.notification p {
  text-align: left;
  filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.5));
  padding-top: 25px;
  padding-right: 25px;
}
.notification h3 {
  color: #7E6BA0;
  /*text-shadow: 2px 2px 4px #000000;*/
  filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.5));
  padding-top: 5px;
  font-size: medium;
}

.button {
	appearance: none;
	background: no-repeat;
	border: none;
	font: inherit;
	margin: 0;
	color: currentColor;
	padding: 0;
}

@keyframes slideInOut {
	15%,
	66% {
		transform: translateX(0);
	}
}

@keyframes countdown {
	66%,
	100% {
		transform: scaleX(0);
	}
}
@media (max-width: 768px) {
  .notification {    
    padding: 0.85rem 0.25rem 0.25rem;
    top: 560px;
    width: 20rem;
  }
  .notification p {
    text-align: left;
    padding-top: 25px;
    font-size: smaller;    
}
  .notification h3 {
    font-size: small;
  }
  .popover_libro {
    width: 30%;
    height: auto;
    padding-left: 10px;	
  }
}



/***************   publicacion  (libro)   *************/

#publicacion {
margin-top: 40px;
}
#publicacion .section-subheading {
  margin-top: 45px;
}

@media (max-width: 768px) {
  #publicacion {
    margin-top: 5px;
  }
  #publicacion .section-subheading {
    margin-top: 25px;
  }
}

/********************   eventos    **********************/





#evento {
  padding-bottom: 80px; 
}
#evento p {
  /*padding-top: 75px;*/
  text-align: justify;
}
#evento .flyer:hover {
  cursor: pointer;
  -webkit-transform:scale(1);
  transform:scale(1);
  transition: transform 0.7s ease-out;
}

#toggleText1:hover, #toggleText2:hover, #toggleText3:hover, #toggleText4:hover, #toggleText5:hover, #toggleText6:hover, #toggleText7:hover, #toggleText8:hover {
  text-decoration: underline;                
}


@media (max-width: 768px) {
  #evento .flyer:hover  {
    -webkit-transform:scale(1.);
    transform:scale(1.);
    transition: transform 0.7s ease-out;
  }
 /* #evento p {
    padding-top: 55px;
    padding-bottom: 35px;  
  }*/
}



iframe {
  margin-top: 25px;
  width: 504px; 
  height: 283px; 
}

@media (max-width: 1080px) {
  #evento iframe {  
    width: 392px; ;
    height: 220px ;
  }
}
@media (max-width: 860px) {
  #evento {
    max-height: 5000;   
  }
  #evento .flyer {
    padding-bottom: 24px;
  }
  p #turismo {
    padding-top: 15px;
   
  }
  #evento iframe {   
    margin-top: 45px;
    width: 420px; 
    height: 260px;    
  }
  #portfolioModal104 iframe {
    margin-top: 45px;   
    width: 302px; 
    height: 180px ;
  }
}
.noticia {
  width: 40%;
  height: auto;
}
@media (max-width: 980px) {
  .noticia {
    width: 70%;
    height: auto;
  }
}

/*******   modal del portfolio   *****/
#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}
#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(3, 249, 232, 0.5);
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#portfolio
  .portfolio-item
  .portfolio-link
  .portfolio-hover
  .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}
#portfolio
  .portfolio-item
  .portfolio-link
  .portfolio-hover
  .portfolio-hover-content
  i {
  margin-top: -12px;
}
#portfolio
  .portfolio-item
  .portfolio-link
  .portfolio-hover
  .portfolio-hover-content
  h3,
#portfolio
  .portfolio-item
  .portfolio-link
  .portfolio-hover
  .portfolio-hover-content
  h4 {
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #fff;
}
#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}
#portfolio .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: "Lato", sans-serif;
  /*font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;   */
}

#portfolio * {
  z-index: 2;
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

.portfolio-modal {
  padding-right: 0px !important;
}
.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}
.portfolio-modal .modal-content {
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  font-size: 3em;
  margin-bottom: 15px;
}
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {    
  font-size: 16px;    
  margin: 5px 0 30px;
  font-family: "Lato", sans-serif;
  /*font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}
.portfolio-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
  float: right;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content button {
  cursor: pointer;
  position: relative;
  float: right;
  
}
.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {    
  z-index: 1051;
  width: 1px;
  height: 35px;
  margin-left: 35px;  
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: rgb(37, 3, 254);
}
.portfolio-modal .close-modal .lr .rl {   
  z-index: 1052;
  width: 1px;
  height: 35px;   
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: rgb(37, 3, 254);
}

/******    seccion banner   ******/
.banner-libro {
  width: 100%;
  background: linear-gradient(135deg, #7E57C2, #F48FB1);
  color: #fff;
  padding: 60px 20px;
}

.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 40px;
}

.banner-texto {
  flex: 1;
  min-width: 300px;
}

.banner-texto h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.banner-texto p {
  font-size: 1rem;
  margin-bottom: 25px;
  line-height: 1.6;
}

.banner-boton {
  display: inline-block;
  background: #fac6c6;
  color: #7E57C2;
  font-weight: bold;
  padding: 10px 26px;
  /*border: #8823fb solid 3px;*/
  border: white solid 3px;
  border-radius: 4px;
  text-decoration: none;
  transition: 0.3s;
}

.banner-boton:hover {
  background: #F48FB1;
  color: #fff;
}

.banner-imagen {
  flex: 1.2; /* más espacio para la imagen */
  text-align: center;
}

.banner-imagen img {
  max-width: 60%;
  height: auto;
  /*border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.25);*/
  transform: scale(1.1); /* hace que se vea más grande */
}

/* Responsive */
@media (max-width: 768px) {
  .banner-libro {
    padding: 30px 30px;
}
  .banner-container {
    flex-direction: column-reverse;
    text-align: center;
    max-height: 320px;
  }
  .banner-imagen img {
    max-width: 25%;
  }

  .banner-texto h2 {
    font-size: 1rem;
  }
  .banner-texto p {
    font-size: 0.7rem;
    margin-bottom: 20px;
    line-height: 1.6;
}
  .banner-boton {
    padding: 5px 11px;
    font-size: small;
  }

  .banner-imagen img {
    max-width: 40%;
    transform: scale(1.05);
  }
}




/******    seccion contacto   ******/

@import url("https://fonts.googleapis.com/css?family=Rajdhani:300&display=swap");

.contacto  {
padding: 170px;
display: flex;
justify-content: center;
align-items: center;
background-image: url("./img/fondo_redes.jpeg");
background-size: cover;
background-position: center;
font-family: "Lato", sans-serif;
}

*, *:before, *:after {
box-sizing: border-box;}


/****** seccion contacto inicial    ******/

  section#contact .section-heading {    
  color: rgb(37, 3, 254);
}
section#contact .form-group {
  margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}
section#contact .form-group input.form-control {
  height: auto;
}
section#contact .form-group textarea.form-control {
  height: 338px;
}
section#contact .form-control:focus {
  border-color: rgb(37, 3, 254);
  box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
  font-weight: 700;
  color: rgb(181, 170, 251);
  font-family: "Lato", sans-serif;
}
section#contact :-moz-placeholder {
  font-weight: 700;
  color: rgb(181, 170, 251);   
  font-family: "Lato", sans-serif;
}
section#contact ::-moz-placeholder {
  font-weight: 700;
  color: rgb(181, 170, 251);   
  font-family: "Lato", sans-serif;
}
section#contact :-ms-input-placeholder {
  font-weight: 700;
  color: rgb(181, 170, 251);
  font-family: "Lato", sans-serif;
}
section#contact .form-check-input { 
  padding-right: 20px;
}
section#contact .form-check-label {
  margin-top: 13px;
  margin-left: 20px;
  font-weight: 700;
  color: rgb(181, 170, 251);
  font-family: "Lato", sans-serif;
}

footer {    
  padding: 25px 0;
  text-align: center;
}
footer span {
  color:#7E6BA0;
}
footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: "Lato", sans-serif;
}
footer a {
  text-decoration: none;
  color: #212529;    
}  
footer a:hover {
  background: none;
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: "Lato", sans-serif;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
  
}
ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color: rgb(37, 3, 254);
}

@media (max-width: 1300px) {
  footer span.copyright {
    font-size: 75%;
    line-height: 30px;     
  }
}


/****************   css de sección privacidad    *******************/

.avisolegal {
  background-color: #E3BFD6;
  /*background-color: rgb(254, 193, 118);*/
}

article {   
  max-width: 100%;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 1.5rem;
  color: #0714f9;
  /*color: #7E6BA0;*/
}
@media all and (min-width: 900px) {
  article {
    max-width: 65%;
  }
}
article h2 {
  margin-left: 1.5rem;
  font-size: 2rem;
  margin: 1.5rem 0 0 1.5rem;
}
article p {
  max-width: 95%;
  margin: 0 auto;
  padding: 0.5rem 1.75rem;
  font-weight: 300;    
}
blockquote {
  background: #7E6BA0;
  color: #fff;
  border-radius: 12px;
  padding: 25px 0;
  margin: 40px 0 50px;
  position: relative;
}
blockquote p {
  font-weight: 200;
}  
@media (max-width: 900px) {
  article {
    font-size: 0.8rem;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Crea 3 columnas de igual tamaño */
  grid-template-rows: auto; /* Altura de filas automática */
  gap: 10px; /* Espacio entre las celdas */
}

.item {   
  /*background-color: #3498db;*/
  color: #fff;
  text-align: center;
  padding: 5px;
}
.item img {
width: 100%;
}

/* Media queries para hacer el diseño responsive */
@media (max-width: 1024px) {
  .grid-container {
      grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas medianas */
  }
}

@media (max-width: 768px) {
  .grid-container {
      grid-template-columns: 1fr; /* 1 columna en pantallas pequeñas */
  }
}
.modal {
  font-family: "Lato", sans-serif;
  margin-top: 50px;
}
.modal a {    
  color: #0A0A0A;
  text-decoration:none;
}
.modal a:link, a:visited, a:active {
  text-decoration:none;
}  
.popup__close {
  position: absolute;
  right: 0rem;
  top: 0rem;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.875rem;
  font-weight: 300;   
  background-color: #0A0A0A;
  z-index: 40;
  color: #fff;
  line-height: 2.5rem;
  text-align: center;    
  text-decoration: none;
}
.popup__close:hover {
  cursor: pointer;
}











