body {
    padding: .5rem;
    font-family:  Helvetica, Arian, sans-serif;
  }
  
  .item {
    background: #ccc;
    font: 1rem Helvetica, Arian, sans-serif;
    margin: 1rem;
    padding: 2rem;
    text-align: justify;
    transition: 0.3s;
  }
  .item.in-viewport {
    background: #669;
    color: #fff;
  }

/* header del quien soy*/
  .header {
    background-image: linear-gradient(to right,#9933cc , orange);    
    color: #ffffff;
    padding: 15px;    
  }

h3 {
  text-align: left;
  }



  .botonera {
    display: flex;
    justify-content: left;
    align-items: left;
    align-content: left;
    flex-wrap: wrap;    
    margin: 0 auto;    
  }
  .btn {    
    margin: 2px;
    padding: 6px 21px;
    text-align: center;
    /*text-transform: uppercase;*/
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(61, 23, 167); 
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
   }
  .btn a {
    cursor: pointer;    
  } 
  a:link, :visited, :hover, :active{
    text-decoration: none;
}
  .btn:hover {
    background-position: right center; /* change the direction of the change here */
  }  
  .btn-1 {
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
  }  
  .btn-2 {
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
  }  
  .btn-3 {
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
  }  
  .btn-4 {
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
  }  
  .btn-5 {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
  }
  

  /*.botonera {
    padding-left: 10px;
 }

 .button {
   background-color: #0099cc; 
   border: none;
   color: white;
   padding: 15px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
 }
 
 .button1 {border-radius: 20px;}
 .button2 {border-radius: 20px;}*/

 .graf {
  align-items: center;
  width: 100%;
  height: auto;
 }

 
 .btn-11 {
  border: none;
  background: rgb(251,33,117);
    background: linear-gradient(0deg, rgba(251,33,117,1) 0%, rgba(234,76,137,1) 100%);
    color: #fff;
    overflow: hidden;
}
.btn-11:hover {
    text-decoration: none;
    color: #fff;
}
.btn-11:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-11:hover{
  opacity: .7;
}
.btn-11:active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}


@-webkit-keyframes shiny-btn1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}